  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

/* -------------------------- START :: header styles ---------------------------------- */
header {
  height: 80px;
  background-color: #145f94;
  color: white;
  padding: auto;
}

header h1 {
  text-align: center;
  padding: 25px;
  font-size: larger;
}
/* -------------------------- END :: header styles ---------------------------------- */

/*---------------------------- START :: Container styles ----------------------------*/
.container {
  padding: 40px 150px;
}

.box-left {
  float: left;
  max-width: 60.5%;
}
.box-right {
  float: right;
  max-width: 38%;
  height: auto;
}

/*---------------------------- START :: card styles ----------------------------*/
.card {
  border: solid;
  border-width: 1px;
  border-color: hsl(205deg 76% 33%);
  height: auto;
  margin: 20px 0;
}

.card-content {
  padding: 20px 20px;
  font-size: 17px;
  line-height: 25px;
  background-color: #f5f5f5;
  font-weight: lighter;
}


.card h2 {
  background-color: #145f94;
  color: white;
  padding: 1rem;
  font-weight: normal;
  font-size: larger;
}
/*---------------------------- END :: card styles ----------------------------*/
/*---------------------------- END :: Container styles ----------------------------*/





