* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  max-height: 100%;
}
/*--------------------------------------------------------------- START:: MAIN ------------------------------------------------------------------ */
main {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  border-radius: 2px;
  box-shadow: 20px 30px 20px 0px #0000004d;
  background: #a5cff2;
}
main > img {
  max-width: 54%;
  min-height: 80%;
  position: absolute;
  bottom: 65px;
  right: 0;
 
}
/*--------------------------------------------------------------- START:: SUN ------------------------------------------------------------------ */
.theSun {
  box-shadow: 0px 0px 15px 3px #ffff00;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 30px;
  left: 30px;
  border-radius: 50%;
  background: radial-gradient(circle, #ffd200 95%, #f7971e);
}
/*--------------------------------------------------------------- END :: SUN ------------------------------------------------------------------ */

/*--------------------------------------------------------------- START:: GIRL-CHILD ------------------------------------------------------------------ */
.girl {
  position: absolute;
  top: 65%;
  left: 53%;
  width: 155px;
  transform-origin: 60% 0;
  animation: swing 3s infinite;
}
/*--------------------------------------------------------------- END :: GIRL-CHILD ------------------------------------------------------------------ */

/*--------------------------------------------------------------- START:: CLOUD ------------------------------------------------------------------ */
.moveCloud {
  height: 200px;
  position: absolute;
  animation: moving-cloud 200s  infinite ;
  
}
/*--------------------------------------------------------------- END :: CLOUD ------------------------------------------------------------------ */

/*--------------------------------------------------------------- START:: FLOOR/GROUND ------------------------------------------------------------------ */
.floor {
  background-color: #2e8b57;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0%;
  border-radius: 50% 10px 0 0;
}
/*--------------------------------------------------------------- END :: FLOOR/GROUND ------------------------------------------------------------------ */

/*--------------------------------------------------------------- END :: MAIN ------------------------------------------------------------------ */

/*--------------------------------------------------------------- START:: SWING - ANIMATIONS ------------------------------------------------------------------ */

@keyframes swing {
  0%,
  100% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-45deg);
  }
}

/*--------------------------------------------------------------- END :: SWING - ANIMATIONS ------------------------------------------------------------------ */

/*--------------------------------------------------------------- START:: MOVING-CLOUD-ANIMATIONS ------------------------------------------------------------------ */
@keyframes moving-cloud {
  0%,100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80%);
  }
}
/*--------------------------------------------------------------- END :: MOVING-CLOUD-ANIMATIONS ------------------------------------------------------------------ */


